
<div class="slidebar">
  
  <div class="profileContainer">
    <a routerLink="dashboard">
      <span class="profile-picture">
        <img  alt=" Avatar" id="avatar2" [src]="profileUrl">
      </span>
    </a>
    
  </div>
  <div class="NameHeader">
    <p>Admin</p>
  
  </div>
  <ul class="navContainer">
    <li><a routerLink="dashboard" routerLinkActive="active" ><mat-icon>dashboard</mat-icon>Dashboard</a></li>
    <li><a routerLink="customerManagement" routerLinkActive="activeCM" ><mat-icon>people</mat-icon>Customer Management</a></li>
    <li><a routerLink="orderManagement" routerLinkActive="activeOrder"><mat-icon> local_shipping</mat-icon>Orders Management</a></li>
    <li><a routerLink="vehicleManagement" routerLinkActive="activeVehicle">	<mat-icon>data_usage</mat-icon>Vehicle Management</a></li>
    <li><a routerLink="reports" routerLinkActive="activeReport"><mat-icon>bar_chart</mat-icon>Reports</a></li> 
    <li><a (click)="openDialog()" routerLinkActive="active" ><mat-icon>keyboard_return</mat-icon>Logout</a></li> 
  </ul>
  
</div>