
.combine-filter {
  display: flex;
}

.filter-container {
  flex: 1;
  padding: 20px;
}

.filtered-results {
  padding: 20px;
  width: 1080px;
}

.selected-filters {
  margin-bottom: 20px;
}

.chip {
  display: inline-block;
  background-color: #010d19;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 10px;
}

.chip button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.filter-container label {
  display: block;
  margin-bottom: 5px;
}

.price-range-filter {
  margin-top: 20px;
}

.filtered-results h3 {
  text-align: center;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car-card {

  width: 300px; 
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.car-card:hover {
 opacity: 0.6;
}
.car-name{
  padding: 2%;
}

.car-image {
  width: 100%;
  height: 75%;
  margin: 0 auto 1%;
}
.filter-container-1 {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.filter-container-1 h5 {
  cursor: pointer;
}

.filter-body {
  display: none;
}

.filter-body.open {
  display: block;
}

.toggle-icon {
  float: right;
}
.filter-container-2 {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.filter-container-2 h5 {
  cursor: pointer;
}

.filter-body {
  display: none;
}

.filter-body.open {
  display: block;
}

.toggle-icon {
  float: right;
}

.price-range-filter {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.price-range-filter h5 {
  cursor: pointer;
}

.price-range-filter .filter-body {
  display: none;
}

.price-range-filter .filter-body.open {
  display: block;
}

.price-range-filter .toggle-icon {
  float: right;
}
/* .pagination-controls {
  position: relative;
}

.page-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
} */

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-buttons {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-buttons:hover {
  background-color: #0056b3;
}

.page-buttons[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Arrange Next button to bottom right */
.pagination-controls button:last-child {
  align-self: flex-end;
}

