<div>
  <app-header></app-header>
</div> 

<div *ngIf="car" class="img-info-container">
  
  <div class="car-img">
    <img [src]="car.carImg" class="car-image">
  </div>
 
  <div class="car-details-main">
    <div class="car-details" >
     
       <i class="fa fa-flag flag" aria-hidden="true" (click)="toggleReportButton(car._id)">Report</i>

    </div>
    <span class="tooltip-name"><h1>{{car.carName}}</h1>
      <span class="tooltiptext">{{car.description}}</span>
    </span>
    <p class="detail">{{car.bodyType }} . {{car.fuelType }}</p>
    <p class="detail">{{car.manufYear }}</p>
    <p class="detail">Ownership: {{car.ownerShip }}</p> <p>{{car.identification_number}}</p>
    <p class="detail">Status: {{car.status }}</p>
    <h2>&#8377;      {{car.price }}</h2>
  
      <div>
        <!-- <button (click)="createOrder()" class="payment-container">Instant Acquire</button> -->
<app-payment></app-payment>
      <!-- <app-payment [inputData]="car._id"></app-payment> -->
    </div>
  </div>
</div>

<br>

<div class="tech-info-main"><br>
  <h3 class="key-specs">Key Specs of &nbsp;{{car.carName}}</h3>
  <div class="tech-info">
    <div class="left-info">
      <p>Engine &nbsp;&nbsp;&nbsp; <b>{{car.engine}}</b></p><hr>
      <p>Torque  &nbsp;&nbsp;&nbsp;<b>{{car.torque}}</b></p><hr>
      <p>Drive Type &nbsp;&nbsp;&nbsp; <b>{{car.driveType}}</b></p> <hr>
    </div>
    <div class="right-info">
      <p>Power &nbsp;&nbsp;&nbsp; <b>{{car.power}}</b></p><hr>
      <p>Seating Capacity &nbsp;&nbsp;&nbsp; <b>{{car.seatingCapacity}}</b></p><hr>
      <p>Mileage &nbsp;&nbsp;&nbsp; <b>{{car.mileage}}</b></p><hr>
    </div>
  </div>
</div>

<div class="car-desc">
  <h3 style="font-weight: bold; color: brown; font-size: 205%; margin-bottom: 2%;">More about {{car.carName}}</h3>
 <p style="font-size: 120%;"> {{car.description}}</p><br><br>
 <div class="tech-info">
  <div class="left-info">
    <p>Body Type &nbsp;&nbsp;&nbsp; <b>{{car.bodyType}}</b></p><hr>
    <p>color  &nbsp;&nbsp;&nbsp;<b>{{car.color}}</b></p><hr>
    <p>Identification No. &nbsp;&nbsp;&nbsp; <b>{{car.identification_number}}</b></p> <hr>
  </div>
  <div class="right-info">
    <p>Ownership &nbsp;&nbsp;&nbsp; <b>{{car.ownerShip}}</b></p><hr>
    <p>fuel Type  &nbsp;&nbsp;&nbsp; <b>{{car.fuelType}}</b></p><hr>
    <p>Manufacturing Year &nbsp;&nbsp;&nbsp; <b>{{car.manufYear}}</b></p><hr>
  </div>
</div>
</div>

<div class="recommended-cars">
  <app-recommended></app-recommended>
</div>

<div>
  <app-footer></app-footer>
</div>