<div class="OrderContainer">
    <mat-card class="orderCard" *ngFor="let receipt of receiptsData">
        <div class="orderheader">
            <mat-card-header>
                <mat-card-subtitle>Date: {{ receipt.dateTime | date}}</mat-card-subtitle>
                <mat-card-title>order id: {{ receipt._id }}</mat-card-title>
            </mat-card-header>
            <div class="info pointer">
                <div (click)="UserDetails(receipt.buyerId)">
                    <p  matTooltip="Go To Buyer" matTooltipShowDelay="1000" class="title">BUYER</p>
                    <p>{{ receipt.buyer.name }}</p>
                    <p>{{ receipt.buyer.contactNumber }}</p>
                    <p>{{ receipt.buyer.address }}</p>
                </div>
                <div (click)="UserDetails(receipt.sellerId)">
                    <p  matTooltip="Go To Seller" matTooltipShowDelay="1000" class="title">SELLER</p>
                    <p>{{ receipt.seller.name }}</p>
                    <p>{{ receipt.seller.contactNumber }}</p>
                    <p>{{ receipt.seller.address }}</p>
                </div>
            </div>
        </div>

        <mat-card-content>
            <p>
                
            <span  matTooltip="Go To Vehicle" matTooltipShowDelay="1000" (click)="vehicleDetails(receipt.vehicleId)" class="pointer title">registrationNumber: </span>{{receipt.vehicle.registrationNumber}}</p>
            <div class="vehicalInfo">
                <p><span class="title">VIN: </span>{{ receipt.vehicle.VIN }}</p>
                <p><span class="title" class="title">Brand: </span>{{ receipt.vehicle.brand }}</p>
                <p><span class="title" class="title">Model: </span>{{ receipt.vehicle.model }}</p>
                <p><span class="title" class="title">Year: </span>{{ receipt.vehicle.year }}</p>
                <p><span class="title" class="title">Mileage: </span>{{ receipt.vehicle.mileage }}</p>
                <p ><span class="title"class="title">Color: </span>{{ receipt.vehicle.color }}</p>
            </div>
            <div>
                <p><span class="title" class="title">Price:</span> {{ receipt.price }}</p>
                <p><span class="title" class="title">Payment Method: </span>{{ receipt.paymentMethod }}</p>
                <p><span class="title" class="title">Order Status:</span> {{ receipt.orderStatus }}</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
