<div class="mainContainer ">
    <h1 class="headerCM">customer Management</h1>
    <div class="mainContent">

        <div class="header_wrap">
            <div class="num_rows">
                <div class="form-group"> 
                    <select class="form-control" name="state" #maxRowsDropdown (change)="onDropdownChange()">
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="70">70</option>
                        <option [value]="totalRows">Show ALL Rows</option>
                    </select>
                </div>
            </div>
            <div class="searchCon">
                <div class="form-group"> 
                    <select class="form-control" name="state" #attributeDropdown (change)="onFilterAttributeChange()">
                        <option value="phone" selected>Phone Number</option>
                        <option value="email">Email Id</option>
                    </select>
                </div>
                <div class="tb_search">
                    <input type="text" id="search_input_all" (keyup)="applyFilter_all_table()" [(ngModel)]="searchKeyword"
                        placeholder="Search.." class="form-control">
                </div>
            </div>
        </div>

        <div class="filterContainer">
            <div>
            <span>Role: </span>
            <mat-checkbox [(ngModel)]="buyerChecked" labelPosition="before" (change)="applyFilter_all_table()">Buyer</mat-checkbox>
            <mat-checkbox [(ngModel)]="sellerChecked" labelPosition="before" (change)="applyFilter_all_table()">Seller</mat-checkbox>
            <span>Status:</span>
            <mat-checkbox [(ngModel)]="activeChecked"labelPosition="before" (change)="applyFilter_all_table()">Active</mat-checkbox>
            <mat-checkbox [(ngModel)]="blockChecked" labelPosition="before" (change)="applyFilter_all_table()">Blocked</mat-checkbox>
            </div>
            <div class="rows_count">
                <div>Total Users: {{filtredData.length}} </div>
            </div>
        </div>
        
        <div class="userInfoContainer">


            <table class="userInfoTable">

                <tr class="stickyHeader">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                </tr>

                <tr class="userRows" *ngFor="let user of displayData" (click)="UserDetails(user._id)">
                    <td>
                        {{user.username | uppercase}}
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.role | uppercase}}</td>
                </tr>


            </table>
        </div>
    
        <div class='pagination-container'>
          
                <ul class="pagination">
                    <span *ngFor="let i of getRange()"> 
                        <button  mat-raised-button class="pagination-btn" (click)="onPageChange(i+1)" [class.activeBtn]="currentPage === i+1">{{i + 1}}</button>
                    </span>                    
                    
                </ul>
        </div>
        
    </div>

</div>