<div id="loader-wrapper">
  <div id="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>

</div>
<!-- <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/assets/images/car.jpg"> -->
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll">
  <form class="d-flex tm-search-form" (submit)="onSearchSubmit(searchInput.value, $event)">
    <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search" #searchInput>
    <button class="btn btn-outline-success tm-search-btn" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>
<div *ngIf="isEmpty">
  <div class="row">
    <div class="col-12">
      <h2 class="tm-text-primary mt-3">Search Result for {{searchInput.value}}</h2>
    </div>
  </div>
  <p class="notFoundMsg">No result found!!</p>
</div>
<div class="row tm-mb-90 tm-gallery" *ngIf="searchResults.length > 0">
  <div class="row">
    <div class="col-12">
      <h2 class="tm-text-primary mt-3">Search Result for {{searchInput.value}}</h2>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let product of searchResults">
    <figure class="effect-ming tm-video-item">
      <img [src]="product['carImg']" alt="Image" class="img-fluid">
      <figcaption class="d-flex align-items-center justify-content-center">
        <h2>{{ product['brandName'] }}</h2>
        <a href="photo-detail.html">View more</a>
      </figcaption>
    </figure>
    <div class="d-flex justify-content-between tm-text-gray">
      <span class="tm-text-gray-light">{{ product['carName'] }}</span>
      <span>{{ product['price'] }}</span>

    </div>
  </div>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row mb-4">
    <h2 class="col-6 tm-text-primary">
      <!-- Latest Photos -->
      New Cars on the Block: Drive the Future Today
    </h2>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <form action="" class="tm-text-primary">
        <!-- Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> of 200 -->
      </form>
    </div>
  </div>