<mat-drawer-container class="admin-panel" autosize>

    <mat-drawer #drawer class="sidebarComponent" mode="side">
        <sidebar-component></sidebar-component>
    </mat-drawer>

    <div class="main">
        <div class="header-container">
            <div>
                <button type="button" mat-button (click)="drawer.toggle()">
                    <i class="material-icons">menu</i>
                </button>
                <span>Auto Trade Hub</span>
            </div>
            <div>
                <mat-slide-toggle>
                    Dark Theme
                </mat-slide-toggle>
            </div>

        </div>
        <div class="mainContentContainer">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-drawer-container>