
*{
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse, rgb(176, 119, 175) , transparent, rgb(163, 173, 190) , rgb(63, 67, 119)) ;
}

/* Form container */
.card-container {
  max-width: 400px;
  margin: 0px auto ; /* Changed margin-top to 100px and margin-bottom to 50px */
  padding: 80px 50px; /* Added extra padding from the top */
  background-color:  rgba(246, 220, 220, 0.672);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Profile image */
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 20px;
  display: block;
  border-radius: 50%;
}

/* Form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Form inputs */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Invalid feedback */
.invalid-feedback {
  color: #dc3545;
}

/* Centered text */
.text-center {
  text-align: center;
}
