/* Container */
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 40px 0px;
  background: radial-gradient(ellipse, rgb(109, 159, 190), transparent, rgb(220, 224, 231)) rgb(227, 227, 233);
}

/* Form container */
.card-container {
  max-width: 400px;
  margin: 0px auto 50px;
  padding: 150px 30px; /* Added extra padding from the top */
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Profile image */
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 20px;
  display: block;
  border-radius: 50%;
}

/* Form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Form inputs */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Invalid feedback */
.invalid-feedback {
  color: #dc3545;
}

/* Centered text */
.text-center {
  text-align: center;
}
