*{
    box-sizing: border-box;
}
.mainContainer {
    float: left;
    width:99%;
    height: auto;
    padding:3px;
}

.headerCM {
    width: 100%;
    padding: 5px 40px;
    color: #1E1E2C;
    margin:0px;
    border-bottom: 2px solid black;
    font: 400 24px / 32px Roboto, sans-serif;;
}

.mainContent {
    padding: 15px 30px;
    background-color: white;

}

#deleteBtn{
    position: absolute;
    right:45px;
}