<div class="mainContainer ">
    <h1 class="headerCM">Vehicle Details</h1>
    <div class="mainContent">
        Vehicles
        {{vehicleData | json}}
        <br>
      
    </div>
    <div *ngIf="reportsDataLength != 0">
        Reports
        <report-card [reportsData]="reportsData"></report-card>
        
    </div>
    <div *ngIf="reportsDataLength == 0">
        No Reports Found
    </div>
    <button mat-raised-button color="warn" *ngIf="reportsDataLength != 0"  class="btn btn-sm btn-block btnUserB"(click)="openDialog()" >
        Delete vehicle
    </button>
    
</div>