<div class="mainContainer ">
    <h1 class="headerCM">Vehicle Details</h1>
    <div class="mainContent">
        Vehicles
        {{vehicleData | json}}
        <br>
      
    </div>
    <div *ngIf="reportsDataLength != 0">
        Reports
        {{reportsData | json}}
    </div>
    <div *ngIf="reportsDataLength == 0">
        No Reports Found
    </div>
    <button *ngIf="reportsDataLength != 0"  class="btn btn-sm btn-block btnUserB"(click)="openDialog()" >
        Delete vehicle
    </button>
</div>