
<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-card title="Total Users = {{TotalNoOfUsers}}">
        <div class="mini-card-container">
          <tr>
            <td>
              Count of buyers:
            </td>
            <td class="attributeValue">
              {{TotalNoOfBuyers}}
            </td>
          </tr>
          <tr>
            <td>
              Count of sellers:
            </td>
            <td class="attributeValue">
              {{TotalNoOfSellers}}
            </td>
          </tr>
        </div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-card title="Total Sales Value">
        <div class="mini-card-container">
          <p>
            {{totalRevenue | currency: 'INR' }}
          </p>
        </div>
        
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-card title="Sold Vehicles">
        <div class="mini-card-container">
          <p>
            {{ordersData.length}}
          </p>
        </div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-card title="Unresolved Reports">
        <div class="mini-card-container">
          {{unResolvedReports}}
        </div>
      </app-card>
    </mat-grid-tile>
    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="No Of Users By Month">
        <line-chart *ngIf="linedataLoaded" [linedata]="usersData"></line-chart>
      </app-card>
   </mat-grid-tile>

   <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Orders By Status">
        <pie-chart-demo *ngIf="orderdataLoaded" [piedata]="pieDataArray"></pie-chart-demo>
      </app-card>
   </mat-grid-tile>
   <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Sales by Traffic Source">
        <pie-chart-demo></pie-chart-demo>
      </app-card>
   </mat-grid-tile>
   <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Vehicles">
        <bar-chart *ngIf="vehicledataLoaded" [bardata]="vehiclesData"></bar-chart>
      </app-card>
   </mat-grid-tile>
    
    
    
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table?.cols" [rowspan]="( cardLayout | async )?.table?.rows">
      <app-card title="Card 9"><bar-chart></bar-chart></app-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>