.notification {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
  }
  
  .success {
    background-color: #28a745; /* Green */
  }
  
  .error {
    background-color: #dc3545; /* Red */
  }
  .settings {body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b1aeae;
    height: 465px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
  }
  