<div class="vehicleContainer">
    <mat-card class="vehicleCard" *ngFor="let vehicle of vehicleData">
    
        <div class="container">
            <div class="image-container">
                <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Hyundai/Creta/8667/1705465218824/front-left-side-47.jpg?tr=w-664"
                    alt="Avatar" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">
                       description 
                    </div>
                </div>
            </div>
            
        </div>
        <div class="details">
            <h2>{{vehicle.brand }}<span>model</span> </h2> 
            <p>year</p>
            <p>location</p>
            <p>11 - 20.15 Lakh</p>
            <p>owenrship</p>
            <p> 
                Registration Number
            </p>
            <p>Status</p>

        </div>

    </mat-card>
</div>