/* .vehicle-card {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-space{
  margin-right: 20px;
}

.card-content {
  margin-top: 10px;
}

.card-content p {
  margin-bottom: 5px;
}

.card-actions {
  margin-top: 10px;
}

.button-primary, .button-danger {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-primary {
  background-color: #007bff;
  color: #fff;
}

.button-primary:hover {
  background-color: green;
}



.button-danger {
  background-color: #dc3545;
  color: #fff;
}
.button-danger:hover{
  background-color:brown;
} */
.vehicle-card {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-space {
  margin-right: 20px;
}

.card-content {
  margin-top: 10px;
}

.card-content p {
  margin-bottom: 5px;
}

.card-actions {
  margin-top: 10px;
}

.button-primary,
.button-danger {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-primary {
  background-color: #007bff;
  color: #fff;
}

.button-primary:hover {
  background-color: green;
}

.button-danger {
  background-color: #dc3545;
  color: #fff;
}

.button-danger:hover {
  background-color: brown;
}

/* Adjust image styles for responsiveness */
.vehicle-image img {
  max-width: 100%; /* Ensure image does not exceed card width */
  height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 768px) {
  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-space {
    margin-right: 0;
    margin-bottom: 10px; /* Add space below image */
  }

  .card-content p {
    margin-bottom: 5px;
  }
}
