<!-- <p>cards works!</p> -->
<!-- cards.component.html -->
<!-- cards.component.html -->
<div class="main-div">
    <div class="row tm-mb-90 tm-gallery px-4">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let vehicle of topCars">
            <figure class="effect-ming tm-video-item" (click)="goToCardDetail(car._id)"> 
                <img [src]="vehicle['carImg']" alt="Image" class="img-fluid">
                <!-- <img [src]="vehicle.images" alt="Image" class="img-fluid"> -->
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{ vehicle['brandName'] }}</h2>
                    <!-- <a href="photo-detail.html">View more</a> -->
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">{{ vehicle['carName'] }}</span>
                <span>{{ vehicle['price'] }}</span>

            </div>
        </div>
    </div>


    <h2 class="col-6 tm-text-primary" id="abc1">
        The most searched cars
    </h2>
    <div class="row tm-mb-90 tm-gallery px-4">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let vehicle of topSearch">
            <figure class="effect-ming tm-video-item" (click)="goToCardDetail(car._id)">
                <img [src]="vehicle['carImg']" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{ vehicle['brandName'] }}</h2>
                    <!-- <a href="photo-detail.html">View more</a> -->
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">{{ vehicle['carName'] }}</span>
                <span>{{ vehicle['price'] }}</span>
            </div>
        </div>
    </div>

    <h2 class="col-6 tm-text-primary" id="abc1">
        By Top Luxury Brands
    </h2>
    <div class="row tm-mb-90 tm-gallery px-4">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let vehicle of topSearch">
            <figure class="effect-ming tm-video-item" (click)="goToCardDetail(car._id)">
                <img [src]="vehicle['carImg']" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{ vehicle['brandName'] }}</h2>
                    <!-- <a href="photo-detail.html">View more</a> -->
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">{{ vehicle['carName'] }}</span>
                <span>{{ vehicle['price'] }}</span>
            </div>
        </div>
    </div>
</div>