<div class="reportContainer">
    <mat-card class="reportCard" *ngFor="let report of reportsData">
        <div class="reportHeader">
           
            <div class="info">
                
                    <div (click)="UserDetails(report.buyerId)">
                        <p>Reported By</p>
                        <p matTooltip="Go To Buyer" matTooltipShowDelay="1000" >{{ report.buyerName }}</p>
                        
                    </div>
                    <div (click)="UserDetails(report.sellerId)">
                        <p>Reported To</p>
                        <p  matTooltip="Go To Seller" matTooltipShowDelay="1000">{{ report.sellerName }}</p>
                    </div>
                
            </div>
            
               
            
        </div>
        <mat-card-content >
            <p>registrationNumber: {{report.vehicleRegistration}} </p>
            <div>
                <p>Comment</p>
                {{report.comment}}
            </div>
        </mat-card-content>

        <mat-card-actions *ngIf="!activatebtn" (click)="vehicleDetails(report.vehicleId)">
            <button matTooltip="Take Action" matTooltipShowDelay="1000" mat-raised-button color="warn">Action</button>

        </mat-card-actions>
    </mat-card>
</div>