/* .vehicle-card .card-body {
    padding: 20px;
}

.vehicle-card .card-title {
    font-size: 3rem;
}

.vehicle-card .card-text {
    font-size: 1.9rem;
    margin-top: 30px;
}

.btn-primary.btn-lg {
    padding: 1.25rem 2.25rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    margin-top: 55px;
}
.card{
    background-color: rgba(246, 220, 220, 0.672);
    border: black;
    border-radius: 15px; 
    overflow: hidden; 
}
  
.card img {
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px; 
}
   */

   .card{
    background-color: rgba(246, 220, 220, 0.672);
    border: black;
    border-radius: 15px; 
    overflow: hidden; 
}
.vehicle-card .card {
    background-color: rgba(246, 220, 220, 0.67);
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.vehicle-card .card img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.vehicle-card .card-body {
    padding: 20px;
}

.vehicle-card .card-title {
    font-size: 2rem;

}


.vehicle-card .card-text {
    font-size: 1rem;
    margin-top: 20px;
}


.btn-primary.btn-lg {

    font-size: 1.2rem;
    border-radius: 0.3rem;


    color: white;

}

@media (max-width: 768px) {

    .vehicle-card .card-title,
    .vehicle-card .card-text {}

    .btn-primary.btn-lg {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        margin-top: 20px;
    }
}