<app-seller-dashboard></app-seller-dashboard>
<form [formGroup]="vehicle" (ngSubmit)="updateProductDetails()" class="edit-product-form">
  <div>
    <label for="identification_number">Identification Number</label>
    <hr><input type="text" id="identification_number" placeholder="Identification Number" formControlName="identification_number" required>
  </div>
  
  <div>
    <label for="registration_number">Registration Number</label>
    <hr><input type="text" id="registration_number" placeholder="Registration Number" formControlName="registration_number" required>
  </div>

  <div>
    <label for="image_url">Image URL</label>
    <hr><input type="text" id="image_url" placeholder="Image URL" formControlName="image_url" required>
  </div>

  <div class="brand">
    <label for="make">Select Vehicle Brand:&nbsp;&nbsp; </label> 
    <hr>
    <select id="cars" formControlName="brand">
      <option value="Toyota">Toyota</option>
      <option value="Volkswagen">Volkswagen</option>
      <option value="Ford">Ford</option>
      <option value="Honda">Honda</option>
      <option value="Chevrolet">Chevrolet</option>
      <option value="Mercedes-Benz">Mercedes-Benz</option>
      <option value="BMW">BMW</option>
      <option value="Audi">Audi</option>
      <option value="Tesla">Tesla</option>
      <option value="Nissan">Nissan</option>
      <option value="Hyundai">Hyundai</option>
      <option value="Kia">Kia</option>
      <option value="Suzuki">Suzuki</option>
      <option value="Yamaha">Yamaha</option>
    </select>
  </div>

  <div>
    <br>
    <label for="model">Specify Vehicle Model</label>
    <hr><input type="text" id="model" placeholder="Toyota Corolla" formControlName="model" required>
  </div>

  <div>
    <label for="year">Manufacturing Year:</label>
    <hr><input type="number" id="year" formControlName="year" required>
  </div>

  <div class="condition">
    <label>Ownership:</label>
    <div>
      <input type="radio" id="first" name="ownership" value="First" formControlName="ownership">
      <label for="first">First</label>
    </div>
    <div>
      <input type="radio" id="second" name="ownership" value="Second" formControlName="ownership">
      <label for="second">Second</label>
    </div>
    <div>
      <input type="radio" id="third" name="ownership" value="Third" formControlName="ownership">
      <label for="third">Third</label>
    </div>
  </div>

  <hr>

  <div>
    <label for="image" class="image">Upload Image</label>
    <input type="file" id="image" (change)="onImageSelected($event)" accept="image/*" formControlName="image">
    <!-- Display preview of the selected image -->
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Selected Image" style="max-width: 200px; max-height: 200px;">
  </div>

  <div class="line">
    <div>
      <label for="color">Color:<br></label>
      <input type="text" id="color" formControlName="color" required>
    </div>
    <div class="passenger">
      <label for="seats">&nbsp;&nbsp;&nbsp;Seats</label>
      <input type="number" id="seats" placeholder="Total Seats" formControlName="seats" required>
    </div>
    <div class="price">
      <label for="price">&nbsp;&nbsp;&nbsp;Price:</label>
      <input type="number" id="price" formControlName="price" required>
    </div>
  </div>

  <div class="fuel_type">
    <label for="fuel_type">Select Fuel Variant:&nbsp;&nbsp; </label> 
    <hr>
    <select id="cars" formControlName="fuel_type">
      <option value="Petrol">Gasoline (Petrol)</option>
      <option value="Diesel">Diesel</option>
      <option value="Biofuels">Biofuels</option>
      <option value="NG">Natural Gas</option>
      <option value="HEV">Hybrid Electric Vehicles</option>
      <option value="PHEV">Plug-in Hybrid Electric Vehicles</option>
      <option value="BEV">Battery Electric Vehicles</option>
      <option value="HFCV">Hydrogen Fuel Cell Vehicles</option>
    </select>
  </div>

  <div>
    <br>
    <label for="mileage">Specify Vehicle Mileage :</label>
    <hr><input type="text" id="mileage" placeholder="40 mpg" formControlName="mileage" required>
  </div>

  <div class="body_type">
    <label for="body_type">Select Body Type:&nbsp;&nbsp; </label> 
    <hr>
    <select id="body_type" formControlName="body_type">
      <option value="sedan">Sedan</option>
      <option value="suv">SUV's</option>
      <option value="hatchback">Hatchback</option>
      <option value="crossover_suv">Crossover SUV</option>
      <option value="coupe">Coupe</option>
      <option value="convertible">Convertible</option>
      <option value="wagon">Wagon(Estate)</option>
      <option value="minivan">Minivan</option>
      <option value="luxury_car">Luxury Car</option>
      <option value="sports_car">Sports Car</option>
      <option value="pickup_train">Pickup Train</option>
      <option value="van">Van</option>
    </select>
  </div>

  <div>
    <br>
    <label for="description">Additional Features</label>
    <hr><input type="text" id="description" placeholder="Additional features" formControlName="description" required>
  </div>

  <div class="submit">
    <button type="submit" value="Update">Update Vehicle</button>
  </div>
</form>
