<div class="popular-brands">
    <h2>Popular Brands</h2>
    <div class="brands-grid">
      <div class="brand">
        <img src="../../../assets/images/mahindra.jpg" alt="Brand 1">
        <p>Mahindra</p>
      </div>
      <div class="brand">
        <img src="../../../assets/images/tata.jpg" alt="Brand 2">
        <p>Tata</p>
      </div>
      <div class="brand">
        <img src="../../../assets/images/maruti.jpg" alt="Brand 2">
        <p>Suzuki</p>
      </div>
      <div class="brand">
        <img src="../../../assets/images/hyundai.jpg" alt="Brand 2">
        <p>Hyundai</p>
      </div>
      <div class="brand">
        <img src="../../../assets/images/toyota.jpg" alt="Brand 2">
        <p>Toyoto</p>
      </div>
      <div class="brand">
        <img src="../../../assets/images/rolls-royce.jpg" alt="Brand 2">
        <p>Rolls-Royce</p>
      </div>
    </div>
  </div>
  