.payment-container{
    background-color: #ff6600;
    padding: 5% 5%;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    border: none;
    font-size:  large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .report-form {
    width: 35%;
     height: 55%;
     margin-top: 5%;
     margin-left: 35%;
     border: 0.5px solid gray;
     border-radius: 5%;
     background-color: whitesmoke;
     /* background: linear-gradient(orange, whitesmoke); */
     /* background: linear-gradient(orange, rgb(255, 89, 0)); */
 box-shadow: 5px 5px gray;
   }
   .report-img{
 /* background-image: url('../../../../assets/car.webp'); */
 background-color: rgb(254, 248, 237);
   }
   .report{
     text-align: center;
     color: orange;  }
   .form-group {
     padding-top: 5%;
     padding-left: 15%;
     padding-right: 15%;
   }
   
   label {
     display: block;
     font-weight: bold;
   }
   
   .input {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5%;
     font-size: 16px;
   }
  
   
   .btn {
     margin-top: 2%;
     margin-left: 25%;
     margin-bottom: 5%;
     display: block;
     padding: 8px 20px; /* Adjusted padding */
     font-size: 16px; /* Reduced font size */
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     outline: none;
     color: #fff;
     background-color: #017047;
     border: none;
     border-radius: 8px; /* Reduced border-radius */
     box-shadow: 0 4px #999; /* Reduced box-shadow */
   }
   
   
   .btn:hover {background-color: #3e8e41}
   
   .btn:active {
     background-color: #3e8e41;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
   }
   .main-form-grp{
    display: flex;
   }
  
   