<!-- <p>cards works!</p> -->
<!-- cards.component.html -->
<!-- cards.component.html -->
<div class="row tm-mb-90 tm-gallery">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let vehicle of data">
        <figure class="effect-ming tm-video-item">
            <!-- Use vehicle variable to access properties -->
            <img [src]="vehicle['carImg']" alt="Image" class="img-fluid">
            <!-- <img [src]="vehicle.images" alt="Image" class="img-fluid"> -->
            <figcaption class="d-flex align-items-center justify-content-center">
                <h2>{{ vehicle['brandName'] }}</h2>
                <a href="photo-detail.html">View more</a>
            </figcaption>
        </figure>
        <div class="d-flex justify-content-between tm-text-gray">
            <span class="tm-text-gray-light">{{ vehicle['modelName'] }}</span>
            <span>{{ vehicle['price'] | currency:'INR' }}</span>

        </div>
    </div>
</div>